* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", Arial, sans-serif;
  
}

body {
  height: 100vh;
  background-image: url("../images/nature.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #06c7f3;
  transition: 0.3s;
}
a:hover {
  color: #05a8d0;
}

.login-container {
  width: 400px;
  min-height: 450px;
  min-height: 450px;
  padding: 40px 25px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  color: white;
}
.title {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 6px;
  letter-spacing: 1px;
}
.login-header p {
  font-size: 16px;
  margin-bottom: 30px;
  opacity: 0.7;
}
.input-box {
  position: relative;
  margin-bottom: 25px;
}
.input-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}
.input-box input {
  width: 100%;
  padding: 15px 15px 15px 45px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 18px;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}
.input-box input:focus {
  background: rgba(255, 255, 255, 0.12);
  border-color: #06c7f3;
}
.input-box label {
  display: none;
}
input::placeholder {
  color: rgb(244, 240, 240);
  letter-spacing: 1.5px;
  font-size: 18px;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 32px;
}
.options label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}
.options input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: #4d8491;
  border-radius: 10px;
}
button[type="submit"] {
  width: 100%;
  padding: 16px;
  background: #4d8491;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}
button[type="submit"]:hover {
  background: #488897;
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(48, 217, 255, 0.4);
}
.footer-login {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  opacity: 0.7;
}
.social button {
  width: 100%;
  padding: 14px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  color: white;
  font-size: 18px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.social button:hover {
  background: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.3);
}
.social button i {
  font-size: 20px;
}
@media (min-width: 768px) {
  .login-container {
    width: 500px;
    padding: 50px 40px;
  }
}

@media (min-width: 1024px) {
  .login-container {
    width: 400px;
    left: 200px;
    transform: none;
  }
}

@media (min-width: 1440px) {
  .login-container {
    left: 300px;
  }
}
